<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Ticket Booking</title>
    <link rel="stylesheet" href="/stylesheets/details.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <%- include('../components/navbar.ejs') %>
        <div class="details-main"></div>
        <div class="main-detail"></div>
        <div class="container">


        </div>

        <script src="/javascripts/moviedetails.js"></script>
</body>

</html>