<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <script src="https://unpkg.com/gsap@3.9.0/dist/gsap.min.js"></script>
</head>

<body>

  <div class="all">
    <%- include('../components/navbar.ejs') %>
      <section class="banner">
        <div class="inbanner">
          <h1>Coming SOON!</h1>
          <h5>In Theateres!</h5>
        </div>
      </section>
      <div class="container-swipe">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
      <div id="container">
        <h1>New Movies</h1>
        <a href="/details">
          <div class="main-movie"></div>
        </a>
      </div>
  </div>

  </div>
  <%- include('../components/footer.ejs') %>

  
  <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.0.5/dist/locomotive-scroll.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/javascripts/swiper.js"></script>
    <script src="/javascripts/moviedata.js"></script>
    <script src="/javascripts/navbar.js"></script>
    <script src="/javascripts/homepage.js"></script>
</body>

</html>