<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/payment.css">
</head>
<body>
   <div class="finished">
    <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    width="200"
    height="200"
    viewBox="0 0 80 80">
  <title>tick-mark</title>
  <path
    class="path-circle"
    stroke="#5F8C34"
    stroke-width="3"
    fill="none"
    stroke-linecap="butt"
    stroke-linejoin="butt"
    d="M 75,40 A 35,35   0 0 1 40,75  M40,75 A 35,35   0 0 1 5,40  M5,40 A 35,35   0 0 1 40,5  M40,5 A 35,35   0 0 1 75,40"/>
  <path
    class="path-tick"
    stroke="#5F8C34"
    stroke-width="3"
    fill="none"
    stroke-linecap="butt"
    stroke-linejoin="butt"
    d="M 25,45 35,55 60,30"/>
  
  </svg>
  <h1>PAYMENT SUCESSFULL!</h1>
  <h4>Please wait you will be redirected</h4>
  <div class="typing-container">
    <span class="typing-text">Your Text Here</span>
</div>

   </div>

   <script>
    
    setTimeout(function() {
        window.location.href = '/'; // Replace '/' with the actual URL of your homepage
    }, 100000); // 5000 milliseconds = 5 seconds
    // alert("Please dont press back or refresh button")
</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const textElement = document.querySelector('.typing-text');
    const textContent = textElement.textContent;
    textElement.textContent = ''; // Clear the initial text

    for (let i = 0; i < textContent.length; i++) {
        setTimeout(function() {
            textElement.textContent += textContent[i];
        }, 150 * i); // Adjust the delay (150ms in this example)
    }
});

</script>
</body>
</html>