<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHows Now - Payment Details</title>
    <link rel="stylesheet" href="/stylesheets/paymentform.css">
</head>
<body>
    <header class="nav">
        <section class="logo">Shows Now</section>
      </header>
    
<div>
    <h1>Payment Details</h1>
    <p>Please provide the following information to complete your booking:</p>
    
    <form action="/paymentsummary" method="POST" id="paymentForm">
        <!-- <label for="session">Select Session:</label>
        <select name="session" id="session" required>
            <option value="morning">Morning</option>
            <option value="afternoon">Afternoon</option>
            <option value="evening">Evening</option>
            <option value="night">Night</option>
        </select> -->

        <label for="timing">Select Timing:</label>
        <select name="timing" id="timing" required>
            <option value="morning-1">9:00 AM - 11:00 AM</option>
            <option value="morning-2">11:30 AM - 1:30 PM</option>
    
            <option value="afternoon-1">2:00 PM - 4:00 PM</option>
            <option value="afternoon-2">4:30 PM - 6:30 PM</option>
    
            <option value="evening-1">7:00 PM - 9:00 PM</option>
            <option value="evening-2">9:30 PM - 11:30 PM</option>
    
            <option value="night-1">12:00 AM - 2:00 AM</option>
            <option value="night-2">2:30 AM - 4:30 AM</option>
        </select>

        <label for="paymentMethod">Select Payment Method:</label>
        <select name="paymentMethod" id="paymentMethod" required>
            <option value="upi">UPI</option>
            <option value="netbanking">Netbanking</option>
            <option value="creditCard">Credit Card</option>
            <option value="debitCard">Debit Card</option>
        <option value="paypal">PayPal</option>
        <option value="paytm">Paytm</option>

        
            <!-- Add other payment options as needed -->
        </select>
        <label for="seats">Confirm the No of Seats</label>
        <input type="number" name="" id="" placeholder="1,2,3.....">
        <!-- Add other general details required for booking -->
        <!-- <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" required> -->
<!--     
        <label for="address">Address:</label>
        <textarea id="address" name="address" rows="4" required></textarea> -->
        <!-- Add more fields as needed -->

        <button type="submit">Proceed to Payment</button>
    </form>
</div>

<script src="/javascripts/paymentform.js"></script>
</body>
</html>
