<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="finished">
    <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    width="180"
    height="180"
    viewBox="0 0 80 80">
  <title>tick-mark</title>
  <path
    class="path-circle"
    stroke="#5F8C34"
    stroke-width="3"
    fill="none"
    stroke-linecap="butt"
    stroke-linejoin="butt"
    d="M 75,40 A 35,35   0 0 1 40,75  M40,75 A 35,35   0 0 1 5,40  M5,40 A 35,35   0 0 1 40,5  M40,5 A 35,35   0 0 1 75,40"/>
  <path
    class="path-tick"
    stroke="#5F8C34"
    stroke-width="3"
    fill="none"
    stroke-linecap="butt"
    stroke-linejoin="butt"
    d="M 25,45 35,55 60,30"/>
  
  </svg>
  <h1>PAYMENT SUCESSFULL!</h1>
  <h4>Please wait you will be redirected</h4>
   </div>


</body>
</html>