<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN UP</title>
    <link rel="stylesheet" href="/stylesheets/signin.css">
</head>
<body>
    <form action="/register" method="post">
        <!-- <label for="name">Name:</label>
        <input type="text" id="name" name="name" required> -->
        <h1>CREATE A NEW ACCOUNT</h1>
      
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="secret">Secret:</label>
        <input type="text" id="secret" name="secret" required>
      
      
        <button type="submit">REGISTER</button>
      </form>
</body>
</html>