<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN IN HERE</title>
    <link rel="stylesheet" href="/stylesheets/signin.css">
</head>

<body>
    <form action="/login" method="post">
        <h1>LOGIN TO YOUR ACCOUNT</h1>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">SIGN IN</button>
    </form>
</body>
</html>