<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terms of Use - Shows Now</title>
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <link rel="stylesheet" href="/stylesheets/navbar.css">

  <style>
     .search{
        display: none !important;
    }
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
      color: #333;
    }

    header {
      background-color: #f5f5f5;
      padding: 1rem;
      text-align: center;
      color: #000;
    }
 

    .container {
      max-width: 800px;
      margin: 20px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1, h2 {
      color: #333;
    }

    p {
      line-height: 1.5;
    }

   
  </style>
</head>

<body>
  <%- include('../components/navbar.ejs') %>

  <header>
    <h1>Terms of Use</h1>
  </header>

  <div class="container">
    <h2>1. Acceptance of Terms</h2>
    <p>By using the Shows Now website, you agree to comply with and be bound by the following terms and conditions of use. If you disagree with any part of these terms, please do not use our website.</p>

    <h2>2. Use License</h2>
    <p>a. Permission is granted to temporarily download one copy of the materials (information or software) on Shows Now's website for personal, non-commercial transitory viewing only.</p>
    <p>b. This is the grant of a license, not a transfer of title, and under this license, you may not:</p>
    <ul>
      <li>i. modify or copy the materials;</li>
      <li>ii. use the materials for any commercial purpose or for any public display;</li>
      <li>iii. attempt to decompile or reverse engineer any software contained on Shows Now's website;</li>
      <li>iv. remove any copyright or other proprietary notations from the materials; or</li>
      <li>v. transfer the materials to another person or "mirror" the materials on any other server.</li>
    </ul>

    <!-- Add more sections as needed -->

  </div>
  <script src="/javascripts/navbar.js"></script>
  <%- include('../components/footer.ejs') %>
</body>

</html>
