<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOWS</title>
    <link rel="stylesheet" href="/stylesheets/details.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


</head>
<body>
    <%- include('../components/navbar.ejs') %>
    <h1 class="thisdiv"><%= selectedDivId %></h1>
    <div class="main-detail"></div>
    <%- include('../components/footer.ejs') %>
    <div id="loading-overlay">
        <div class="loader"></div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
          // Simulate API data loading time (replace this with your actual data loading logic)
          setTimeout(() => {
            // Remove the loading overlay
            document.getElementById("loading-overlay").style.display = "none";
          }, 3000); // Adjust the timeout based on your actual loading time
        });
    
      </script>
    <script src="/javascripts/trial.js"></script>
</body>
</html>