<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOWS</title>
    <link rel="stylesheet" href="/stylesheets/details.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">

</head>
<body>
    <%- include('../components/navbar.ejs') %>
    <div class="main-detail"></div>
    <%- include('../components/footer.ejs') %>
    <script src="/javascripts/trial.js"></script>
</body>
</html>