@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.footer {
    background-color: #111;
    padding: 2rem;
    text-align: center;
    color: #fff !important;
    font-family: 'Ubuntu' , sans-serif !important;
  }