ul {
    margin: 0;
    padding: 0;
  }
  
  .rnav button {
    background-color: #4c9173;
    margin: 5px;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    font-family: inherit;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .rnav button:hover {
    background-color:#5b446a;
  }
  
  
  /* Style the navigation bar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dadada; 
    padding: 10px;
    color: #e50914;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .lnav {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-family: 'Style Script', cursive;
    letter-spacing: 5px;
  }
  /* .logo-top{
    width: 56px;
  } */
  .lnav span {
    color: inherit;
    font-weight: 700;
    font-size: 1.2rem;
  }
  
  .centernav ul {
    list-style: none;
    display: flex;
  }
  
  .centernav li {
    margin-right: 20px;
  }
  
  .centernav a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
  }
  @media (max-width:768px){
    .centernav a{
      color: white;
      font-weight: 700;
      font-size: 35px;
    }
  }
  .centernav a:hover{
    /* background-color: #5b446aa3; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: whitesmoke;
  }
  
  .rnav {
    display: flex;
    align-items: center;
  }
  
  .search {
    padding: 0.5rem 0.9rem;
    margin-right: 10px;
    outline: none;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-family: inherit;
  }
  
  .close-button {
    display: none;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .navbar{
      flex-direction: column;
    }
    .centernav {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .close-button {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;
      border: none;
      padding: 8px 12px;
      cursor: pointer;
      font-weight: 700;
      background: transparent;
      font-size: 35px;
    }
  
    .centernav.active {
      display: flex;
      z-index: 100;
    }
  
    .centernav ul {
      flex-direction: column;
    }
  
    .centernav li {
      margin: 10px 0;
    }
  
    .hamburger {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      position: absolute;
      right: 22px;
      top: 19px;
    }
  
    .hamburger div {
      width: 35px;
      height: 7px;
      background-color: #fff;
      margin: 2px 0;
      transition: 0.4s;
      border-radius: 2px;
    }
  
    .rnav {
      flex-direction: column;
      align-items: center;
    }
  
    .search {
      margin: 10px 0;
    }
  }


 