@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
}
.all{
  background-color: #111;
}
#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




/* krathi movie style css */
#container {
  background: #111; 
  color: whitesmoke;
  height: fit-content;

}
#container h1{
  text-align: center;
  padding:1rem 0rem ;
}
.main-movie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background: #444; 
  position: relative;
  overflow: hidden;
}


.movie img {
  width: 100%;
}

.movie-info {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info span {
  background-color: lightsteelblue;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#4c9173;
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.5s ease-in;
  color: #fff;
  overflow-y: scroll;
  scrollbar-width: thin; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}
.overview h4{
  color: rgb(0, 43, 129);
}
.overview h3{
  padding: 10px 0px;
  font-size: larger;
}
.movie:hover .overview {
  transform: translateY(0)
}
/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.overview::-webkit-scrollbar {
  width: 0.5rem; /* Set a small width even if you don't want it visible, as some browsers may still show a default width */
}

.overview::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make the thumb (handle) transparent */
}

.overview::-webkit-scrollbar-track {
  background-color: transparent; /* Make the track (the area the thumb moves on) transparent */
}
.know-more{
  background-color: white;
  color: black;
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: inherit;
}


/* SWIPER JS NAVIGATION */
.container-swipe {
  padding: 2rem 2rem;
  background-color: #fff;
}

.swiper {
  width: 100%;
  height: 100%;
 
}

.swiper-slide {
  text-align: center;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
  
 
}

.swiper-content img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-radius: 5px;
}

.swiper-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  height: max-content;
  background: #555;
  color: whitesmoke;
  border-radius: 8px;
}

.swiper-head{
  text-align: center;
}
.details-swiper{
  height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
}
.details-swiper span {
  background-color:#5b446a;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
  margin: 10px;
}

.details-swiper span.green {
  color: lightgreen;
}

.details-swiper span.orange {
  color: orange;
}
.details-swiper span.red {
  color: red;
}
.know-more-swiper{
  background-color:#7dd87d;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin: 10px;
}
.know-more-swiper:hover{
  background-color:#5b446a;
  color: #fff;
}
.no-results{
  color:white;
}

.pagination{
  display:flex;
  padding:40px 30px;
  align-items: center;
  justify-content: center;
  color:#fff;
  background-color: #111;
}

.page{
  padding:20px;
  cursor:pointer;
}

.page.disabled{
  cursor:not-allowed;
  color:grey;
}

.current{
  padding: 10px 20px;
  border-radius: 50%;
  border: 5px solid orange;
  font-size: 20px;
  font-weight: 600;
}
/* END SWIPER */

/* .container-swipe{
  height: max-content;
  width: 100%;
  position: relative;
} */

.inbanner {
  background-image: url('https://i.pinimg.com/originals/11/a7/dc/11a7dcaac50214155c3cc9180ab628f1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 100%; */
  height: 70vh;
  opacity: 1;
  position: relative;
}
@media (max-width:768px){
  .inbanner{
    
    background-image: url('https://c4.wallpaperflare.com/wallpaper/457/871/663/movie-poster-wonder-woman-gal-gadot-portrait-display-wallpaper-preview.jpg');
  }
}
@media (max-width:425px){
  .inbanner{
    background-image: url('https://i.pinimg.com/564x/46/a0/9b/46a09b1886644069c3bd85e0c10b7522.jpg');
  }
}
.inbanner h1{
  position: absolute;
  left: 9%;
  top: 16%;
  font-size: xx-large;
  color: whitesmoke;
  font-weight: 700;
  padding: 0px 10px;
  border-radius: 12px;
  text-shadow: 1px 1px 1px #000, 
               3px 3px 5px blue;
               z-index: 10;
}
.inbanner h5{
  position: absolute;
  left: 10%;
  top: 26%;
  color: whitesmoke;
  font-weight: 700;
  padding: 0px 10px;
  border-radius: 12px;
  text-shadow: 1px 1px 1px #000, 
               3px 3px 5px blue;
               z-index: 10;
}

#video-future{
  height: 100vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  
}
@media (max-width:768px){
  #video-future video{
    object-fit: cover;
  }
}
#video-future video{
  width: 100%;
  opacity: 0;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(1.4);
}
#ftext{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 999;
  border-radius: 12px;
  padding: 0.6rem;
  color: #000;
}

#ftext button{
  font-family: inherit;
  padding: 1.2vw 2vw;
  font-size: 10px;
  margin-top: 10px;
  font-weight: 700;
  border-radius: 100px;
  background-color: white;
  border: 1px solid lightgray;
  color: black;
}
