@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

.rnav button {
  background-color: #4c9173;
  margin: 5px;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.rnav button:hover {
  background-color:#5b446a;
}


/* Style the navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #7dd87d; 
  padding: 10px;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.lnav {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-family: 'Style Script', cursive;
  letter-spacing: 5px;
}
/* .logo-top{
  width: 56px;
} */
.lnav span {
  color: black;
  font-weight: 700;
  font-size: 1.2rem;
}

.centernav ul {
  list-style: none;
  display: flex;
}

.centernav li {
  margin-right: 20px;
}

.centernav a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}
.centernav a:hover{
  /* background-color: #5b446aa3; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: whitesmoke;
}

.rnav {
  display: flex;
  align-items: center;
}

.search {
  padding: 0.5rem 0.9rem;
  margin-right: 10px;
  outline: none;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-family: inherit;
}

.close-button {
  display: none;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .navbar{
    flex-direction: column;
  }
  .centernav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .close-button {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-weight: 700;
    background: transparent;
  }

  .centernav.active {
    display: flex;
    z-index: 100;
  }

  .centernav ul {
    flex-direction: column;
  }

  .centernav li {
    margin: 10px 0;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 22px;
    top: 19px;
  }

  .hamburger div {
    width: 35px;
    height: 7px;
    background-color: #fff;
    margin: 2px 0;
    transition: 0.4s;
    border-radius: 2px;
  }

  .rnav {
    flex-direction: column;
    align-items: center;
  }

  .search {
    margin: 10px 0;
  }
}


/* krathi movie style css */
#container {
  height: max-content;
  background: #5b446a; 
  color: whitesmoke;
  /* margin: 0; */
}
#container h1{
  text-align: center;
  padding:1.5rem 0rem ;
}
.main-movie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #906387; 
  position: relative;
  overflow: hidden;
}


.movie img {
  width: 100%;
}

.movie-info {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info span {
  background-color: lightsteelblue;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#4c9173;
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.5s ease-in;
  color: #fff;
}

.movie:hover .overview {
  transform: translateY(0)
}
.know-more{
  background-color: white;
  color: black;
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: inherit;
}


/* SWIPER JS NAVIGATION */
.container-swipe {
  padding: 2rem 2rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
 
}

.swiper-content img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-radius: 5px;
}

.swiper-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  height: max-content;
  background: #906387;
  color: whitesmoke;
  border-radius: 8px;
}

.swiper-head{
  text-align: center;
}
.details-swiper{
  height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
}
.details-swiper span {
  background-color:#5b446a;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
  margin: 10px;
}

.details-swiper span.green {
  color: lightgreen;
}

.details-swiper span.orange {
  color: orange;
}
.details-swiper span.red {
  color: red;
}
.know-more-swiper{
  background-color:#7dd87d;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin: 10px;
}
.know-more-swiper:hover{
  background-color:#5b446a;
  color: #fff;
}

/* END SWIPER */

/* .container-swipe{
  height: max-content;
  width: 100%;
  position: relative;
} */

.inbanner {
  background-image: url('../images/john.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 100%; */
  height: 85vh;
  opacity: 1;
  position: relative;
}
@media (max-width:768px){
  .inbanner{
    
    background-image: url('https://images.unsplash.com/photo-1635805737707-575885ab0820?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  }
}
@media (max-width:425px){
  .inbanner{
    background-image: url('https://i.pinimg.com/564x/46/a0/9b/46a09b1886644069c3bd85e0c10b7522.jpg');
  }
}
.inbanner h1{
  position: absolute;
  left: 9%;
  top: 16%;
  font-size: xx-large;
  color: whitesmoke;
  font-weight: 700;
  padding: 0px 10px;
  border-radius: 12px;
  text-shadow: 1px 1px 1px #000, 
               3px 3px 5px blue;
               z-index: 10;
}
.inbanner h5{
  position: absolute;
  left: 10%;
  top: 26%;
  color: whitesmoke;
  font-weight: 700;
  padding: 0px 10px;
  border-radius: 12px;
  text-shadow: 1px 1px 1px #000, 
               3px 3px 5px blue;
               z-index: 10;
}



/* FOOTER */

.container-footer {
  background-color: #7dd87d;
  color: black;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width:768px) {
  .container-footer{
    flex-direction: column;
  }
  
}
.ff {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.ff img {
  width: 56px;
  height: 40px;
  margin-right: 10px;
}

.down-content-footer {
  margin-top: 10px;
}

.heading-footer {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.content-footer {
  font-size: 0.9em;
}