<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .ff {
            justify-content: space-evenly;
            border-radius: 0px;
            border-spacing: 10px;
            position: relative;
            background-color: rgb(120, 34, 34);
            padding: 20px;


        }
 .container {
            color: white;
            background-color: rgb(43, 31, 31);
        }
 .heading,
        .content {
            margin-top: 20px;
        }
.ff img {
            width: 40px;
            height: 40px;
        }
.container {
            display: flex;
            flex-direction: column;
        }
.down-content {
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="ff">
            <img src="movie.svg" alt="image" class="image1" />LIST YOUR SHOW
            Got a show,event,activity or a great experience
            ?
        </div>
        <div class="down-content">
            <div class="movies-now">
                <div class="heading">
                    MOVIES NOW SHOWING IN DELHI-NCR
                </div>
                <div class="content">
                    Tiger 3|The Marvels|12th Fail|Japan| Trailers Screening Show|Leo
                </div>
            </div>
            <div class="upcoming-movies">
                <div class="heading">
                    UPCOMING MOVIES IN DELHI-NCR
                </div>
                <div class="content">
                    Dear Parusha| Anvesha |Phoenix| Nethram
                </div>
            </div>
            <div class="genre">
                <div class="heading">
                    MOVIES BYB GENRE
                </div>
                <div class="content">
                    Drama Movies| Action Movies|Comedy Movies| Animation Movies|Adventure Movies|Musical Movies
                </div>
            </div>
            <div class="Language">
                <div class="heading">
                    MOVIES BY LANGUAGE
                </div>
                <div class="content">
                    Movies in English| Movies in Hindi | Movies in Tamil| Movies in Khasi| Movies in Tulu| Movies in
                    French
                </div>
            </div>
        </div>

    </div>
</body>

</html>