    <footer>
        <div class="container-footer">
            <div class="ff">
                <img src="movie.svg" alt="image" class="image1" />
                Book your SHOWS NOW!
            </div>
    
            <div class="down-content-footer">
                <div class="movies-now">
                    <div class="heading-footer">
                        MOVIES NOW SHOWING IN DELHI-NCR
                    </div>
                    <div class="content-footer">
                        Tiger 3 | The Marvels | 12th Fail | Japan | Trailers Screening Show | Leo
                    </div>
                </div>
    
                <div class="upcoming-movies">
                    <div class="heading-footer">
                        UPCOMING MOVIES IN DELHI-NCR
                    </div>
                    <div class="content">
                        Dear Parusha | Anvesha | Phoenix | Nethram
                    </div>
                </div>
    
                <div class="genre">
                    <div class="heading-footer">
                        MOVIES BY GENRE
                    </div>
                    <div class="content-footer">
                        Drama Movies | Action Movies | Comedy Movies | Animation Movies | Adventure Movies | Musical Movies
                    </div>
                </div>
    
                <div class="Language">
                    <div class="heading-footer">
                        MOVIES BY LANGUAGE
                    </div>
                    <div class="content-footer">
                        Movies in English | Movies in Hindi | Movies in Tamil | Movies in Khasi | Movies in Tulu | Movies in
                        French
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

