<nav class="navbar">
  <a href="/">
    <div class="lnav">
      <!-- <img width="40" height="40" src="https://img.icons8.com/badges/40/movie-projector.png" alt="movie-projector" /> -->
      <!-- <img src="/images/copyshow.png" alt="image" class="logo-top" /> -->
      <span>SHOWS NOW</span>
    </div>
  </a>
  <div class="centernav">
    <button class="close-button" onclick="toggleOverlay()">X</button>
    <ul>
      <!-- <li><a href="/home">Upcoming Movies</a></li> -->
      <li><a href="/home">Home</a></li>
      <li><a href="/rating">Top Rated</a></li>
      <li><a href="/popular">Popular</a></li>
      <li><a href="/nowplaying">Now Playing</a></li>
    </ul>
  </div>
  <!-- <div class="rnav">
    <form class="form"><input type="search" name="" id="" placeholder="Search" class="search"></form>
    <a href="/login"><button>LOGIN</button></a>
    <a href="/register"><button>REGISTER</button></a>
 
    
  </div> -->
  <div class="rnav">
    <form class="form"><input type="search" name="" id="" placeholder="Search" class="search"></form>
    <div class="dropdown">
      <button class="dropbtn">Account <i class="fas fa-chevron-down"></i></button>
      <div class="dropdown-content">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/profile">Your Account</a>
      </div>
    </div>
  </div>
  <div class="hamburger" onclick="toggleOverlay()">
    <div></div>
    <div></div>
    <div></div>
  </div>
</nav>

