<nav class="navbar">
  <a href="/">
    <div class="lnav">
      <img width="40" height="40" src="https://img.icons8.com/badges/40/movie-projector.png" alt="movie-projector" />
      <!-- <img src="/images/copyshow.png" alt="image" class="logo-top" /> -->
      <span>SHOWS NOW</span>
    </div>
  </a>
  <div class="centernav">
    <button class="close-button" onclick="toggleOverlay()">X</button>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/shows">Shows</a></li>
      <li><a href="/details">Movies</a></li>
      <li><a href="/sports">Sports</a></li>
    </ul>
  </div>
  <div class="rnav">
    <form class="form"><input type="search" name="" id="" placeholder="Search" class="search"></form>
    <a href="/login"><button>LOGIN</button></a>
    <a href="/register"><button>REGISTER</button></a>
 
    
  </div>
  <div class="hamburger" onclick="toggleOverlay()">
    <div></div>
    <div></div>
    <div></div>
  </div>
</nav>

