<nav class="navbar">
  <a href="/">
    <div class="lnav">
      <img width="40" height="40" src="https://img.icons8.com/badges/40/movie-projector.png" alt="movie-projector"/>
      <span>SHOWS NOW</span>
    </div>
  </a>
  <div class="centernav">
    <button class="close-button" onclick="toggleOverlay()">X</button>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="">Shows</a></li>
      <li><a href="/details">Movies</a></li>
      <li><a href="">Sports</a></li>
    </ul>
  </div>
  <div class="rnav">
    <form class="form"><input type="search" name="" id="" placeholder="Search" class="search"></form>
    <a href="/signin"><button>SIGN IN</button></a>
    <a href="/signup"><button>SIGN UP</button></a>
  </div>
  <div class="hamburger" onclick="toggleOverlay()">
    <div></div>
    <div></div>
    <div></div>
  </div>
</nav>

<script>
  function toggleOverlay() {
    const centernav = document.querySelector('.centernav');
    centernav.classList.toggle('active');
  }
</script>